<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/css/style.css">
    <link rel="stylesheet" href="../CSS/css/imghover.css">
    <title>Maestro</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-warning bg-dark">
            <div class="container">
                <a class="navbar-brand" href="./index.html">
                    <img class="img-fluid" src="../IMG/M_Maestro.png">
                </a>
                <div class="d-flex justify-content-end">
                    <a href="./connexion.html">
                    <p class="text-primary pr-1">Mon Compte</p>  
                    </a> 
                    <a href="./connexion.html">
                        <img class="img-fluid" src="../IMG/picto_utilisateur2.png" alt="login user" width="50" height="50">
                    </a>
                </div>
            </div>
        </nav>
    </header>
            <!-- CGV :--> 
<div class="container-fluid">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            
            <h2 class="pt-5 pb-3 Nunito" id="">NOS CONDITIONS GENERALES DE VENTE</h2>         
        </div>
        <div class="pt-4 pb-4">
            <p> <strong> Définitions
                On désignera par la suite :
                • « Site » ou « Service » : le site www.maestro.com et l’ensemble de ses pages.
                • « Editeur » : MAESTRO  Consulting, personne morale ou physique responsable de l’édition et du contenu du Site.
                • « Utilisateur » : l’internaute visitant et utilisant les Services du Site.
                Les présentes Conditions Générales d’Utilisation (ci-après les « CGU ») sont proposées par l’Editeur du Site. L’Utilisateur du Site est invité à lire attentivement ces CGU, à les imprimer et/ou à les sauvegarder sur un support durable. L’Utilisateur reconnaît avoir pris connaissance des CGU et les accepte intégralement et sans réserve.
            </strong>

            <br><br>
            <br><br>
                <strong>Article 1 - Application des CGV</strong>
                <br><br>
                Les présentes CGU ont pour objet de définir les conditions d’accès au Site par les Utilisateurs. L’Editeur se réserve le droit de modifier à tout moment les CGU en publiant une nouvelle version de ces dernières sur le Site.
                Les CGU applicables à l’Utilisateur sont celles en vigueur au jour de son acceptation. Le Site est d’accès libre et gratuit à tout Utilisateur.
                L’acquisition d’un produit ou d’un service, ou la création d’un espace membre, ou de manière plus générale la navigation sur le Site suppose l’acceptation, par l’Utilisateur, de l’intégralité des présentes CGU, qui reconnaît du même fait en avoir pris pleinement connaissance.
                Cette acceptation pourra consister par exemple, pour l’Utilisateur, à cocher la case correspondant à la phrase d’acceptation des présentes CGU, ayant par exemple la mention « je reconnais avoir lu et accepté l’ensemble des conditions générales du Site ».
                Le fait de cocher cette case sera réputé avoir la même valeur qu’une signature manuscrite de la part de l’Utilisateur.
                L’Utilisateur reconnaît la valeur de preuve des systèmes d’enregistrement automatique de l’Editeur du présent Site et, sauf pour lui d’apporter une preuve contraire, il renonce à les contester en cas de litige.
                L’acceptation des présentes CGU suppose de la part des Utilisateurs qu’ils jouissent de la capacité juridique nécessaire pour cela.
                Si l’Utilisateur est mineur ou ne dispose pas de cette capacité juridique, il déclare avoir l’autorisation d’un tuteur, d’un curateur ou de son représentant légal.
                L’Editeur met à la disposition du Client, sur son Site, une charte de confidentialité spécifiant l’ensemble des informations afférentes à l’utilisation des données à caractère personnel du Client collectées par l’Editeur et aux droits dont le Client dispose vis-à-vis de ces données personnelles.
                La politique de confidentialité des données fait partie des CGU.
                L’acceptation des présentes CGU implique par conséquent l’acceptation de la politique de confidentialité des données.
            <br><br> 
                 
            <strong>Article 2 - Mentions légales, données personnelles et objet du Site </strong>
            <br><br>
                Le présent Site est édité par MAESTRO Consulting.
                Les informations légales concernant l’hébergeur et l’Editeur du Site, notamment les coordonnées et les éventuelles informations de capital et d’immatriculation, sont fournies dans les mentions légales du présent Site.
                Les informations concernant la collecte et le traitement des données personnelles (politique et déclaration) sont fournis dans la charte de données personnelles du Site.
                L’objet du présent Site est déterminé comme « Agence Globale Marketing Digital ».
                
                <br><br>
                <strong>Article 3 - Espace membre</strong>
                <br><br>
                L’Utilisateur inscrit au Site (membre) a la possibilité d’y accéder en se connectant grâce à ses identifiants (adresse e-mail définie lors de son inscription et mot de passe) ou éventuellement en utilisant des systèmes tels que des boutons de connexion tiers de réseaux sociaux.
                L’utilisateur est entièrement responsable de la protection du mot de passe qu’il a choisi. Il est encouragé à utiliser des mots de passe complexes.
                En cas d’oubli du mot de passe, l’Utilisateur a la possibilité d’en générer un nouveau.
                Ce mot de passe constitue la garantie de la confidentialité des informations contenues dans sa rubrique « mon compte » et l’Utilisateur s’interdit donc de le transmettre ou de le communiquer à un tiers.
                A défaut, l’Editeur du Site ne pourra être tenu pour responsable des accès non autorisés au compte d’un Utilisateur.
                La création d’un espace personnel est un préalable indispensable à toute commande ou contribution de l’Utilisateur sur le présent Site.
                A cette fin, l’Utilisateur sera invité à fournir un certain nombre d’informations personnelles. Il s’engage à fournir des informations exactes.
                La collecte des données a pour objet la création d’un « compte membre ».
                Si les données contenues dans la rubrique compte membre venaient à disparaître à la suite d’une panne technique ou d’un cas de force majeure, la responsabilité du Site et de son Editeur ne pourrait être engagée, ces informations n’ayant aucune valeur probante mais uniquement un caractère informatif.
                Les pages relatives aux comptes membres sont librement imprimables par le titulaire du compte en question mais ne constituent nullement une preuve, elles n’ont qu’un caractère informatif destiné à assurer une gestion efficace du service ou des contributions par l’Utilisateur.
                Chaque Utilisateur est libre de fermer son compte et ses données sur le Site.
                Pour ceci, il doit adresser un e-mail à MAESTRO Consulting indiquant qu’il souhaite supprimer son compte. Aucune récupération de ses données ne sera alors possible.
                L’Editeur se réserve le droit exclusif de supprimer le compte de tout Utilisateur qui aurait contrevenu aux présentes CGU (notamment, mais sans que cet exemple n’ait un quelconque caractère exhaustif,
                Lorsque l’Utilisateur aura fourni sciemment des informations erronées, lors de son inscription et de la constitution de son espace personnel) ou encore tout compte inactif depuis au moins une année.
                Ladite suppression ne sera pas susceptible de constituer un dommage pour l’Utilisateur exclu qui ne pourra prétendre à aucune indemnité de ce fait.
                Cette exclusion n’est pas exclusive de la possibilité, pour l’Editeur, d’entreprendre des poursuites d’ordre judiciaire à l’encontre de l’Utilisateur, lorsque les faits l’auront justifié.
             <br><br>   
            <strong>Article 4 - Accès et disponibilité du Site</strong>
            <br><br>
                L’Editeur fait ses meilleurs efforts pour rendre le Site accessible en permanence, sous réserve des opérations de maintenance du Site ou des serveurs sur lesquels il est hébergé.
                En cas d’impossibilité d’accès au Site, en raison de problèmes techniques ou de toutes natures, l’Utilisateur ne pourra se prévaloir d’un dommage et ne pourra prétendre à aucune indemnité.
                L’Editeur du Site n’est tenu que par une obligation de moyens ; sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données, intrusion, virus, rupture du service, ou autres.
                L’Utilisateur admet expressément utiliser le Site à ses propres risques et sous sa responsabilité exclusive.
                Le Site fournit à l’Utilisateur des informations à titre indicatif, avec des imperfections, erreurs, omissions, inexactitudes et autres ambivalences susceptibles d’exister. En tout état de cause, MAESTRO Consulting ne pourra en aucun cas être tenu responsable :
                • de tout dommage direct ou indirect, notamment en ce qui concerne les pertes de profits, le manque à gagner, les pertes de clientèle, de données pouvant entre autres résulter de l’utilisation du Site, ou au contraire de l’impossibilité de son utilisation ;
                • d’un dysfonctionnement, d’une indisponibilité d’accès, d’une mauvaise utilisation, d’une mauvaise configuration de l’ordinateur de l’Utilisateur, ou encore de l’emploi d’un navigateur peu usité par l’Utilisateur.
               <br><br> 
            <strong>Article 5 - Liens hypertextes</strong>
            <br><br>
                Le Site peut inclure des liens hypertextes vers d’autres sites.
                L’Utilisateur reconnaît par conséquent que l’Editeur ne pourra être tenu responsable de tous dommages ou pertes avérés ou allégués, consécutifs à ou en relation avec l’utilisation ou avec le fait d’avoir pris connaissance des contenus, publicités, produits ou services disponibles sur ces sites ou sources externes.
                De même, la responsabilité de l’Editeur du présent Site ne saurait être engagée si la visite, par l’Utilisateur, de l’un de ces sites, lui causait un préjudice.
                Si, en dépit des efforts de l’Editeur, un des liens hypertextes présents sur le Site pointait vers un site ou une source internet dont le contenu était ou paraissait non conforme aux exigences de la loi des USA à un Utilisateur, celui-ci s’engage à prendre immédiatement contact avec le directeur de la publication du Site, dont les coordonnées figurent dans les mentions légales du Site, afin de lui communiquer l’adresse des pages du site tiers en cause.
             <br><br>     
            <strong>Article 6 - Cookies</strong>
            <br><br>
                Un « Cookie » peut permettre l’identification de l’Utilisateur du Site, la personnalisation de sa consultation du Site et l’accélération de l’affichage du Site grâce à l’enregistrement d’un fichier de données sur son ordinateur.
                Le Site est susceptible d’utiliser des « Cookies » principalement pour
                1) obtenir des statistiques de navigation afin d’améliorer l’expérience de l’Utilisateur, et
                2) permettre l’accès à un compte de membre et à du contenu qui n’est pas accessible sans connexion.
                L’Utilisateur reconnaît être informé de cette pratique et autorise l’Editeur du Site à y recourir. L’Editeur s’engage à ne jamais communiquer le contenu de ces « Cookies » à des tierces personnes, sauf en cas de réquisition légale.
                L’Utilisateur peut refuser l’enregistrement de « Cookies » ou configurer son navigateur pour être prévenu préalablement à l’acception les « Cookies ». Pour ce faire, l’Utilisateur procédera au paramétrage de son navigateur :
                • Pour Internet Explorer : http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies • Pour Safari : https://support.apple.com/fr-fr/ht1677
                • Pour Google Chrome : https://support.google.com/chrome/answer/95647?hl=fr&hlrm=en&safe=on • Pour Firefox : https://support.mozilla.org/fr/kb/activer-desactiver-cookies
                • Pour Opera : http://help.opera.com/Windows/10.20/fr/cookies.html 
              <br><br>  
            <strong>Article 7 - Droits de propriété intellectuelle</strong>
            <br><br>
                Tous les éléments du présent Site appartiennent à l’Editeur ou à un tiers mandataire, ou sont utilisés par l’Editeur sur le Site avec l’autorisation de leur propriétaire.
                Toute représentation, reproduction ou adaptation des logos, contenus textuels, pictographiques ou vidéos, sans que cette énumération ne soit limitative, est rigoureusement interdite et s’apparente à de la contrefaçon.
                Tout Utilisateur qui se rendrait coupable de contrefaçon serait susceptible de voir son accès au site supprimé sans préavis ni indemnité et sans que cette exclusion ne puisse lui être constitutive d’un dommage, sans réserve d’éventuelles poursuites judiciaires ultérieures à son encontre, à l’initiative de l’Editeur du présent Site ou de son mandataire.
                Les marques et logos contenus dans le Site sont susceptibles d’être déposés par MAESTRO Consulting, ou éventuellement par un de ses partenaires.
                Toute personne procédant à leurs représentations, reproductions, imbrications, diffusions et rediffusions encourt les sanctions suivantes du Code de la propriété intellectuelle.
               <br><br> 
            <strong>Article 8 - Responsabilité</strong>
            <br><br>
                L’Editeur n’est pas responsable des publications des Utilisateurs, de leur contenu ainsi que de leur véracité.
                L’Editeur ne peut en aucun cas être tenu responsable de tout dommage susceptible d’intervenir sur le système informatique de l’Utilisateur et/ou de la perte de données résultant de l’utilisation du Site par l’Utilisateur.
                L’Editeur s’engage à constamment mettre à jour le contenu du Site et à fournir aux Utilisateurs des informations justes, claires, précises et réactualisées.
                Le Site est en principe accessible en permanence, sauf pendant les opérations techniques de maintenance et de mise à jour du contenu.
                L’Editeur ne saurait être tenu responsable de dommages résultant de l’indisponibilité du Site ou de parties de celui-ci.
                La responsabilité de l’Editeur du Site ne peut être engagée en raison d’une indisponibilité technique de la connexion, qu’elle soit due notamment à un cas de force majeure, à une maintenance, à une mise à jour, à une modification du Site, à une intervention de l’hébergeur, à une grève interne ou externe, à une panne de réseau, ou encore à une coupure d’alimentation électrique.
                L’Editeur ne saurait être tenu responsable du non fonctionnement, d’une impossibilité d’accès ou de dysfonctionnements du Site imputables à un équipement non adapté, à une mauvaise configuration ou utilisation de l’ordinateur de l’Utilisateur, à des dysfonctionnements des services du fournisseur d’accès des Utilisateurs, ou à ceux du réseau internet.
              <br><br>  
            <strong>Article 9 - Notifications et réclamations</strong>
            <br><br>
                Toute notification ou avis concernant les présentes CGU, les mentions légales ou la charte de données personnelles doit être faite par écrit et envoyée par courrier recommandé ou certifié, ou par mail à l’adresse indiquée dans les mentions légales du Site, en précisant les coordonnées, nom et prénom du notifiant, ainsi que l’objet de l’avis.
                Toute réclamation liée à l’utilisation du Site, des Services, des pages du Site sur des réseaux sociaux éventuels ou aux CGU, aux mentions légales ou à la charte de données personnelles doit être déposée dans les 365 jours suivant le jour d’origine du problème source de réclamation, et ce indépendamment de toute loi ou règle de droit contraire.
                Dans le cas où une telle réclamation n’aurait pas été déposée dans les 365 jours suivants, une telle réclamation sera à jamais inapplicable en justice.
                Il peut être possible que se trouvent, dans l’ensemble du Site internet et des Services proposés, et dans une mesure restreinte, des inexactitudes ou des erreurs, ou des informations qui soient en désaccord avec les CGU, les mentions légales ou la charte de données personnelles.
                En outre, il est possible que des modifications non autorisées soient faites par des tiers sur le Site ou sur des Services annexes (réseaux sociaux…).
                Dans une telle situation, l’Utilisateur a la possibilité de contacter l’Editeur du Site par courrier postal ou par mail aux adresses indiquées dans les mentions légales du Site, avec si possible une description de l’erreur et l’emplacement (URL), ainsi que des informations suffisantes permettant de le contacter.
             <br><br>   
            <strong> Article 10 - Indépendance des clauses </strong>
            <br><br>
                Si une disposition des CGU est jugée illégale, nulle ou pour toute autre raison inapplicable, alors cette disposition sera réputée divisible des CGU et n’affectera pas la validité et l’applicabilité des dispositions restantes.
                Les CGU remplacent tous accords antérieurs ou contemporains écrits ou oraux.
                Elles ne sont pas cessibles, transférables ou sous-licenciables par l’Utilisateur lui-même.
                Une version imprimée des CGU et de tous les avis donnés sous forme électronique pourra être demandée dans des procédures judiciaires ou administratives en rapport avec les CGU.
                Les parties conviennent que toute la correspondance relative à ces CGU doit être rédigée dans la langue française ou anglaise.
                Article 11 - Loi applicable
                Les présentes CGU sont régies par et soumises au droit de l’état des USA.
                Sauf dispositions d’ordre public, tous litiges qui pourraient survenir dans le cadre de l’exécution des présentes CGU pourront avant toute action judiciaire être soumis à l’appréciation de l’Editeur du Site en vue d’un règlement amiable.
                Il est expressément rappelé que les demandes de règlement amiable ne suspendent pas les délais ouverts pour intenter les actions judiciaires.
                Sauf disposition contraire, d’ordre public, toute action judiciaire relative à l’exécution des présentes CGU devra être soumise à la compétence des juridictions du ressort du lieu du domicile du défendeur.
                Tous droits réservés - 14 novembre 2019 
            </p>
        </div>
    </div>
</div>
            <!-- Le code finit ici -->

            <footer>
                <div class="container-fluid bg-dark">
                    <div class="container pt-3">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-sm-12">
                                <p class="text-primary text-center"><a href="./page-contact.html">Nous contacter</a></p>
                            </div>
                            <div class="col-lg-5 col-sm-12">
                                <p class="text-primary text-center"><a href="./CGV.html">Nos CGV</a></p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <p class="text-primary">Copyright 2021 - Maestro - Tous droits réservés.</p>
                        </div> 
                    </div>
                </div>
            </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>