#Calque_1 .cls-1 {
  fill: #203359;
}
#Calque_1 .cls-2 {
  fill: #d9a23d;
}
#Calque_1 .cls-3 {
  fill: #fff;
}
#Calque_1 .cls-4 {
  fill: #f25252;
}

#Button .cls-1 {
  fill: #f25252;
}
#Button .cls-2 {
  font-size: 109.96px;
  fill: #203359;
  font-family: MyriadPro-Regular, Myriad Pro;
}
#Button .cls-3 {
  letter-spacing: -0.07em;
}
#Button .cls-4 {
  letter-spacing: -0.01em;
}