#Calque_1{
    .cls-1{fill:#203359;}
    .cls-2{fill:#d9a23d;}
    .cls-3{fill:#fff;}
    .cls-4{fill:#f25252;}
  }
  
  #Button{
    .cls-1{fill:#f25252;}
    .cls-2{font-size:109.96px;fill:#203359;font-family:MyriadPro-Regular, Myriad Pro;}
    .cls-3{letter-spacing:-0.07em;}
    .cls-4{letter-spacing:-0.01em;}
  }